################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TokenAuthWebApiCore.Server/bin/Debug/netcoreapp1.1
/.vs/TokenAuthWebApiCore/v15/Server/sqlite3
/TokenAuthWebApiCore.Server.IntegrationTest/bin/Debug/netcoreapp1.1
/TokenAuthWebApiCore.Server.IntegrationTest/obj
/TokenAuthWebApiCore.Server/obj
